body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial,
    sans-serif;
  margin: 20px;
  padding: 0;
}

.content-panel {
  max-width: 800px;
  margin: 0 20px;
}

.content-title {
  color: black;
  margin-bottom: 20px;
}

.content-description {
  color: black;
  line-height: 1.5;
}

.authorization-info {
  margin: 20px 0;
}

.auth-content {
  background-color: #f9fafb;
  padding: 16px;
  margin-top: 4px;
}

.auth-details {
  font-size: 14px;
}

.auth-scheme {
  margin-bottom: 8px;
}

.bearer-tag {
  background-color: #93fac6;
  color: #1b9954;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
  margin-left: 8px;
}
